<% include ../partials/header %>  

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p text-align="center" class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>                
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div>
                    <img class="Beech" src="<%= campgrounds.image %>" >
                    <div class="caption-full">
                        <h6 class="pull-right">9$/Night</h6>
                        <h4><a href="#"> <%= campgrounds.name %> </a></h4>
                        <p><%= campgrounds.description %></p>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campgrounds._id %>/comments/new" >Add Comment</a>
                </div>
                <div>
                    <% campgrounds.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right">10 days ago</span>
                                <p>
                                    <%= comment.text %>       
                                </p>
                            </div>
                        </div>                       
                    <% }) %>
                </div>
            </div>               
        </div>
    </div>
</div> 


<div>
    <a class="btn btn-success" href="/campgrounds" >Back</a>
</div>


<% include ../partials/footer %>  